<div id="responsive" class="modal fade in" style="text-transform:uppercase; display: block; padding-left: 0px;">

  <div class="modal-dialog">
    <div class="modal-content">
			{{yield}}
		</div>
	</div>
</div>
