


<div class="owl-carousel-v5 owl-carousel-style-v1">


	<div class="owl-slider-v5 owl-carousel owl-theme">

				{{#each imgs as |c|}}
				<div class="owl-slider-v4">
					<div class="item">
				<img class="img-responsive" style="width:130%" {{bind-attr src=c}} alt="">

					</div>
				</div>
				{{/each}}


	</div>



</div>
