<div class="cube-portfolio container g-mt-50 g-mb90">
      <div class="content-xs">
        <div id="filters-container" class="cbp-l-filters-text content-xs">
					<div data-filter="*" class="cbp-filter-item-active cbp-filter-item vn-h2 ssp text-w2">
						Tất cả
					</div>
					{{#each model.categories as |cat|}}
						<div {{bind-attr data-filter=cat.filter_id}} class="cbp-filter-item">
							{{cat.name}}
						</div>
					{{/each}}


        </div>
        <!--/end Filters Container-->
      </div>

      <div id="grid-container" style="height:120%;"class="cbp-l-grid-agency g-mt-80">
				{{#each model.products as |product|}}

          <div  {{bind-attr class=product.filter_id}}>
            <div class="cbp-item-wrapper">
              <div class="cbp-caption g-mb-20">
                <div class="cbp-caption-defaultWrap">
                {{#link-to 'product' product}}
								{{lazy-image url=product.img.main_img class="img-responsive" }}

                {{/link-to}}
              </div>
						</div>
						<div class="cbp-title-dark">
							<div class="ssp vn-h3 text-center g-pb-2">{{product.name}}</div>

							<div class="ssp vn-h4 text-center color-grey">trọn gói
								<span class="vn-h3 text-w2  color-hot-green">{{product.total_price}}đ</span>
							</div>
							<div class="ssp vn-h4 text-center color-grey">Đặt hàng trước
								<span class="vn-h3 text-w2 color-orangered">{{product.expire_date}}</span>
							</div>
            </div>
          </div>
					</div>
				{{/each}}


      </div>
      <!--/end Grid Container-->
    </div>
