<div class="owl-carousel-v4 owl-theme" >
					<div id="suggest" class="owl-slider-v4-whatsnew">

				{{#each suggests as |c|}}
			<a target="_blank" {{bind-attr href=c.suggest_link}}>
					<div  class="item" style="background-color:#454545;">

				<img {{bind-attr src=c.img.suggest_img}} class="img-responsive" style="width:100%;" />
					</div>

			</a>
			{{/each}}

	</div>



</div>
