<div class="thumbnails thumbnail-style" style="margin-top: 20px; margin-left:10px;">
	<h4 class="heading margin-bottom-25"> {{p.name}} </h4>
	<img class="img-responsive margin-bottom-25" style="padding-right:20px;" src="assets/img-temp/san-pham-cong-nghe.jpg" alt="">
	<div class="caption">
		<div class="heading heading-v4 margin-bottom-10">
		<div class="cbp-title-dark">
			<div class="ssp vn-h4 text-center color-grey margin-bottom-10">trọn gói <span class="vn-h3 text-w2  color-hot-green">{{p.total_price}}đ</span></div>
			<div class="ssp vn-h5 text-center color-grey">Đặt hàng trước <span class="vn-h5 text-w2 color-orangered">15/03/2016</span></div>
		</div>
		</div>

	</div>
</div>
