
$shippy-green: #72c02c;
$puple-like: #725D68;
@media all and (max-width:599px) and (min-with:200px){
.custom-stuff{
	margin-bottom:350px !important;
}
#msform{
	width:120%;


	}
}
.lazy-image-container{
	min-height:150px;
}

#msform .radios input{
	width:10%;
}

@media (min-width: 960px){
.vn-h3 {
font-size: 18px;
line-height: 140%;

}

}


 .cbp-wrapper  {
	height:120%;
}

div.whats-new{
	padding:0px;
}

@media (max-width: 959px) and (min-width: 600px){
.form-margin-1 {
	margin-bottom:0px;
}
}


.whats-new .owl-carousel-v4 .item:after{
position: absolute;
content: "Xem ngay";
top: 40%;
left: 25%;
color: #fff;
font-size: 30px;
visibility: hidden;
cursor: pointer;
}
.cbp-item-wrapper{
	padding-bottom:40px;
}
.custom-foot a{
	color: black;
}
span{
	h3{
	float:right;
	style:bold;
	font-weight: bolder;
}
}

.homeapp-header.one-page-header .navbar-nav > li > a.btn-u.active {
 background:$shippy-green;
 color:#ffffff;
}
#msform{
	text-align: center;
}
.select-box{
	width:100%;
	font-size: small;
}
.cube-portfolio #filters-container .cbp-filter-item{

	color: #555;
  text-transform: uppercase;
  font-family: 'Open Sans',Arial,sans-serif;
  font-size: 16px;

}
.cube-portfolio #filters-container .cbp-filter-item-active{
background:none;
color: $shippy-green;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #72c02c;

  border-radius: 150%;
  -webkit-animation: sk-scaleout 2.0s infinite ease-in-out;
  animation: sk-scaleout 2.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  150% {
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
.nav-bar{
  margin-bottom:0px;
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
