<div class="row row-centered">
	<div class="col-centered">
		<form id="msform" class="form-margin-1">
			<div class="tab-content" style="margin-right:15px; padding-right:30px;">

				<div class="tab-pane fade active in" id="start">

					<fieldset>
						<h2 class="fs-title">Bắt đầu đặt hàng</h2>
						{{input type="text" valueBinding="form.fName" placeholder="Tên riêng" }}
						{{input type="text" valueBinding="form.lName" placeholder="Họ và tên đệm" }}
						<input type="button" data-toggle="tab" href="#contact" name="next" class="next action-button" value="Tiếp theo" />
					</fieldset>
				</div>

				<div class="tab-pane fade" id="contact">

					<fieldset>

						<h2 class="fs-title">Thông tin liên hệ</h2>
						{{input type="text" valueBinding="form.email" placeholder="Email" }}
						{{input type="text" valueBinding="form.phoneNumber" placeholder="Số điện thoại" }}
						{{input type="text" valueBinding="form.address" placeholder="Địa chỉ" }}
						{{input type="text" valueBinding="form.city" placeholder="Tỉnh/thành phố" }}
						<input type="button" name="previous" data-toggle="tab" href="#start" class="previous action-button" value="Quay lại" />
						<input type="button" data-toggle="tab" name="next" href="#card" class="next action-button" value="Tiếp theo" />
					</fieldset>

				</div>

				<fieldset class="tab-pane fade" id="card">

					<h2 class="fs-title">Bạn có loại thẻ ngân hàng nào?</h2>
					{{#if error2}}

						<h3 class="fs-subtitle" style="color:red;">
						Vui lòng điền thông tin đầy đủ :)
					</h3>

					{{/if}}
					<div>
						{{radio-button type="radio" style="width: 10%;"  checked=form.card value="international"}}<i class="rounded-x"></i>Thẻ quốc tế Visa, Mastercard"
						<br>
						{{radio-button style="width: 10%;"  checked=form.card value="local"}}Thẻ ngân hàng nội địa
						<br>
						{{radio-button style="width: 10%;" checked=form.card value="none"}}Mình không có thẻ ngân hàng
					</div>

					<br>
					<input type="button" name="previous" data-toggle="tab" href="#contact" class="previous action-button" value="Quay lại"/>
					<input type="submit" name="submit" {{action "submitRequest" form}} class="submit action-button" value="Gửi Shippy" style="background: orangered; width: 120px;" />
				</fieldset>
			</div>

		</form>

	</div>
</div>
