<!DOCTYPE html>
<html lang="vi">
  <head>
		<title>Mua sắm trọn gói từ Mỹ - Xem vị trí sản phẩm 24/7 | Shippy.</title>
<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1">

<meta name="description" content="An tâm mua sắm từ Mỹ với giá trọn gói từ A đến Z.
Vận chuyển đến tận nhà mà không phát sinh thêm phí.">
<meta name="keywords" content="Shippy.vn">
<meta name="robots" content="INDEX,FOLLOW">
<meta name="fragment" content="!">

<!-- Facebook Meta-->
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Shippy.vn" />
<meta property="og:url" content="http://shippy.vn" />
<meta property="og:title" content="Mua sắm trọn gói từ Mỹ - Xem vị trí sản phẩm 24/7 | Shippy.vn" />
<meta property="og:description"  content="An tâm mua sắm từ Mỹ với giá trọn gói từ A đến Z.
Vận chuyển đến tận nhà mà không phát sinh thêm phí." />
<meta property="og:image" content="http://d2cxx1zdxve54p.cloudfront.net/media/trang-chu-share.jpg" />
<meta property="og:locale" content="vi_VN" />

<meta property="fb:admins" content="100000226470710" />

<meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1">
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Shippy.vn" />

<meta name="google-site-verification" content="9oaR5cWhJIR3dvY8truj1e8kd9caEs31x3O2NZch2kU" />

<!-- Google Analytics Tracking-->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-74347113-1', 'auto');
ga('send', 'pageview');
</script>
<!-- Hotjar Tracking Code for http://shippy.vn/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:161175,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Organization",
  "contactPoint" : [
    { "@type" : "ContactPoint",
      "email" : "shippynghe@shippy.vn",
      "contactType" : "customer service",
			"url":"http://shippy.vn"
    } ],
  "name" : "Shippy",
  "description": "An tâm mua sắm từ Mỹ với giá trọn gói từ A đến Z. Vận chuyển đến tận nhà mà không phát sinh thêm phí.",
  "brand" : "Shippy",
  "email" : "shippynghe@shippy.vn",
  "logo" : "http://d2cxx1zdxve54p.cloudfront.net/media/shippy-logo-500.jpg",
  "url":"http://shippy.vn",
  "sameAs":["https://www.facebook.com/Shippyvn-961616627256263/","https://www.instagram.com/shippyvn/"]
}
</script>



    {{content-for 'head'}}
		<link rel="icon"
		      type="image/png"
		      href="http://d2cxx1zdxve54p.cloudfront.net/media/favicon.png">


    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/ecom-frontend.css">
		<!-- Web Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,vietnamese,cyrillic' rel='stylesheet' type='text/css'>
    {{content-for 'head-footer'}}
  </head>
  <body class='wrapper'>
    {{content-for 'body'}}
    <script src="assets/vendor.js"></script>
    <script src="assets/ecom-frontend.js"></script>

    {{content-for 'body-footer'}}





	<!-- End JS from Facebook -->


	<!--Start of Zopim Live Chat Script-->
	<script type="text/javascript">
	window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
	d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
	_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
	$.src="//v2.zopim.com/?3itSDmSPyCeTPHaRisc1ZfooWiFFBzmr";z.t=+new Date;$.
	type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
	</script>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');
fbq('init', '1680099125566188');
fbq('track', "PageView");
fbq('track', 'Purchase', {value: '1.00', currency:'USD'});</script><noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1680099125566188&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
	<script>

 window.fbAsyncInit = function() {
    FB.init({
      appId      : '1705756496374115',
      xfbml      : true,
      version    : 'v2.5'
    });
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/vi_VN/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
	<!--End of Zopim Live Chat Script-->
</body>
</html>
