<!-- Main Feature -->
<section class="with-bg-white">
	<div class="container g-pt-90 g-pb-90">
		<div class="row">


			<div class="col-md-5 col-sm-12 col-xs 12">
				<div >
					<div class="g-heading-v10 g-mb-20">
						<div class="vn-super-1 uppercase">
								<strong>{{model.feature_title}}</strong>
							</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="vn-h3 text-w2 g-pb-5">{{model.feature_h1}}</div>

							<span class="vn-h5 color-grey">{{model.feature_1_description}}</span>
						</div>
					</div>
				</div>

				<div class="row g-pt-30">
					<div class="col-md-12">

						<div class="vn-h3 text-w2 g-pb-5 ">{{model.feature_h2}}</div>

						<span class="vn-h5 color-grey">	{{model.feature_2_description}}</span>
					</div>
				</div>
			</div>


			<div class="col-xs 12 col-md-offset-1 col-xs-offset-0 col-sm-offset-0
		col-md-6 col-sm-12 col-xs 12">
				<div class="overflow-h">
					<img class="img-responsive animated g-mb-20 slideInLeft wow" {{bind-attr src=model.img.feature_img}} alt="">
				</div>
			</div>
		</div>

	</div>
</section>
