
<section  id="intro">
      <div class="with-bg-white " style="padding-top:100px;">
        <div class="container g-pt-40">
					<div class="row">
            <div class="col-md-6 col-sm-12 col-xs 12" style="text-align: left;">
              <div class="vn-super-1 uppercase"><strong>
                {{model.name}}</strong>
							</div>
              <span class="vn-h4 color-grey">{{model.short_description}}</span>

							<div class="row g-pt-60">
								<div class="col-md-6">
									<span class="vn-h4 color-grey g-pr-10">Giá Shippy trọn gói</span>
									<span class="vn-h4 text-w2 color-hot-green">{{model.total_price}}đ</span>
								</div>

							</div>

							<div class="row">
								<div class="col-md-12">

									<span class="vn-h4 color-grey">Bạn đã tiết kiệm được</span>
									<span class="vn-h4 color-orangered text-w2">{{model.saving}}đ</span>
									<span class="vn-h4 color-grey">so với khi chuyển phát nhanh từ Mỹ </span>
									<span class="vn-h4 color-grey"><a target="_blank" href="tiet-kiem">(xem thêm)</a></span>
								</div>
							</div>
											<div class="row g-pt-20">
												<div class="col-md-10">
													<span class="vn-h4 text-w1 color-grey">Nhận đơn hàng cho đến</span>
													<span class="vn-h4 color-orangered text-w2">{{model.expire_date}}</span>
													<span class="vn-h4 color-grey">(còn {{model.days_left}} ngày)</span>
												</div>


											</div>
											<div class="row g-pt-10">
												<div class="col-md-12">
													<button type="button" {{action "scrollBack"}} id="order-button" data-toggle="tab" href="#page2" class="btn-u rounded text-w2">Đặt Hàng Trước</button>
													<br class="visible-xs">
													<br class="visible-xs">
													<span class="g-ml-0 color-grey vn-h4">Bạn không phải thanh toán ngay khi đặt hàng trước.</span>
												</div>
											</div>




					</div>
            <div class=" col-md-5 col-sm-12 col-xs 12 col-md-offset-1 col-xs-offset-0 col-sm-offset-0">
								<img class="img-responsive animated slideInUp wow" {{bind-attr src=model.img.top_img}} alt="">

            </div>
          </div>
        </div>

      </div>
    </section>
