<form id="msform" class="col-md-offset-1 col-md-5 col-sm-10 col-xs-10" style="padding-top:50px;position: relative;">
	<fieldset class="tab-content" >
		<span class="close-pane"><h3 data-toggle="tab" href="#page1" >X</h3></span>

		<div class="tab-pane fade active in" id="start">

				<h2 class="fs-title">Bắt đầu đặt hàng</h2>
				{{input type="text" valueBinding="form.first_name" placeholder="Tên riêng" }}
				{{input type="text" valueBinding="form.last_name" placeholder="Họ và tên đệm" }}

				{{#if model.option_keys}}

				{{#x-select class="select-box" value=form.options}}
					{{#x-option value=v}}{{model.option_keys}}{{/x-option}}

					{{#each model.option_values as |v|}}
	  				{{#x-option value=v}}{{v}}{{/x-option}}
					{{/each}}
				{{/x-select}}

				{{/if}}

				<input style=" width:100%;"type="button" data-toggle="tab" href="#contact" name="next" class="next action-button" value="Tiếp theo" />

		</div>

		<div class="tab-pane fade" id="contact">


				<h2 class="fs-title">Thông tin liên hệ</h2>
				{{input type="text" valueBinding="form.email" placeholder="Email" }}
				{{input type="text" valueBinding="form.phone_number" placeholder="Số điện thoại" }}
				{{input type="text" valueBinding="form.address" placeholder="Địa chỉ" }}
				{{input type="text" valueBinding="form.province" placeholder="Tỉnh/thành phố" }}
				<input style=" width:45%;"type="button" name="previous" data-toggle="tab" href="#start" class="previous action-button" value="Quay lại" />
				<input style="width:45%;"type="button" data-toggle="tab" name="next" href="#card" class="next action-button" value="Tiếp theo" />

		</div>

		<div class="tab-pane fade" id="card">

			<h2 class="fs-title">Bạn có loại thẻ ngân hàng nào?</h2>
			{{#if error.status}}

				<h3 class="fs-subtitle" style="color:red;">
				{{error.message}}
			</h3>

			{{/if}}
			<div class="radios" style="text-align:left;">

				{{radio-button  checked=form.card_type value="international"}}Thẻ quốc tế Visa, Mastercard <br>

				{{radio-button   checked=form.card_type value="local"}}Thẻ ngân hàng nội địa<br>

				{{radio-button  checked=form.card_type value="none"}}Mình không có thẻ ngân hàng<br>
			</div>

			<br>
			<input style="width:45%;"type="button" name="previous" data-toggle="tab" href="#contact" class="previous action-button" value="Quay lại"/>
			<input type="submit" id="buy" name="submit" {{action "submitRequest" form model.id}} class="submit action-button" value="Gửi Shippy" style="background: orangered; width: 45%;" />
		</div>
</fieldset>

</form>
