<section class="" id="intro">
	<div class="interactive-slider-v2 with-bg-white">
		<div class="container-fluid">
			<div class="row g-pt-40 g-pb-40">
				<div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 g-pt-40 g-pb-40" style="text-align: left;">
					<div class="vn-h1">Cần mua một sản phẩm chỉ bạn muốn?
						<br>Để Shippy giúp bạn với <strong>đơn hàng riêng</strong></div>
				</div>


				<div class="col-md-offset-1 col-md-5 col-sm-12 col-xs-12">

					<form id="msform" class="animated slideInUp wow form-margin-1">
						<ul id="progressbar">
							<li class="active">Sản phẩm</li>
							<li>Link gốc</li>
							<li>Liên lạc</li>

						</ul>

						<fieldset>

							<h2 class="fs-title">Thông tin sản phẩm</h2>
							<h3 class="fs-subtitle">Giúp Shippy tìm sản phẩm vừa ý bạn. Nếu không biết sản phẩm cụ thể thì Shippy sẽ tư vấn giúp bạn.</h3>
							{{textarea valueBinding="form.description"  placeholder="Mô tả sản phẩm" required=true}}
							<input type="button" name="next" class="next action-button" value="Tiếp theo" />
						</fieldset>
						<fieldset>
							<h2 class="fs-title">Link sản phẩm gốc (nếu có)</h2>
							<h3 class="fs-subtitle">Từ Amazon hay trang mua sắm khác</h3>
							{{textarea valueBinding="form.product_link" placeholder="VD: http://www.amazon.com/..."}}

							<input type="button" name="previous" class="previous action-button" value="Quay lại" />
							<input type="button" name="next" class="next action-button" value="Tiếp theo" />
						</fieldset>
						<fieldset>
							<h2 class="fs-title">Thông tin liên lạc</h2>
							<h3 class="fs-subtitle">Shippy sẽ liên hệ với bạn sớm</h3>

							{{#if error.status}}

								<h3 class="fs-subtitle" style="color:red;">
								{{error.message}}
							</h3>

							{{/if}}
							{{input type="text" valueBinding="form.email" placeholder="Email"}}
							{{input type="text" valueBinding="form.phone" placeholder="Số điện thoại" }}
							{{input type="text" valueBinding="form.city" placeholder="Tên tỉnh/thành phố. Ví dụ: Sài Gòn" }}
							<input type="button" name="previous" class="previous action-button" value="Quay lại" />
							<input type="submit" name="submit" {{action "submitForm" form}} class="submit action-button" value="Gửi Shippy" style="background: orangered; width: 120px;" />
						</fieldset>

					</form>

				</div>
			</div>

		</div>
	</div>
</section>
