<!-- Customer Support -->
<section class="with-bg-dark">
<div class="container g-pt-90">
		<div class="row">
			<div class="col-md-7">
				<div class="why-ourapp-text">
					<div class="g-heading-v10 g-mb-60">
						<div class="vn-super-1 color-white"> Sẵn sàng hỗ trợ trực tuyến</div>
						<div class="vn-h4 color-white">Click nút ở góc dưới bên phải để chat ngay với Shippy.</div>
					</div>
				</div>
			</div>
			{{yield}}
			<div class="col-md-4 col-md-offset-0 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10">
				<div class="why-ourapp-img overflow-h">
					<img class="img-responsive animated slideInUp wow" src="assets/images/common/shippy-ho-tro-truc-tuyen.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Customer Support -->
