<!--=== Footer ===-->
<div id="footer-v2" class="footer-v2">
	<div class="g-pt-10">
		<div class="container-fluid">
			<div class="row">
				<!-- Logo -->
				<div class="col-md-2 col-sm-2 col-xs-6">
					<div align="center">
						{{#link-to "index"}}<img class="img-responsive g-pb-15" style="width: 130px;" src="assets/images/brand.png">{{/link-to}}
					</div>
					<br>
				</div>
				<!-- End Logo -->

				<!-- Footer Menu -->
				<div class="custom-foot col-md-8 col-sm-8 col-xs-12 g-pt-10">
					<div align="center">
						<div class="vn-h6 text-w2 uppercase text-center g-ml-20 g-mr-20 " style="display: inline-block;">
							{{#link-to "ve-shippy" style="color:black;" }}Giới thiệu Shippy{{/link-to}}
						</div>
						<div class="vn-h6 text-w2 uppercase text-center g-ml-20 g-mr-20 " style="display: inline-block;">
							{{#link-to "ho-tro-khach-hang" style="color:black;"}}Hỗ trợ khách hàng{{/link-to}}
						</div>

						<div class="vn-h6 text-w2 uppercase text-center g-ml-20 g-mr-20" style="display: inline-block;">
							{{#link-to "chinh-sach-doi-tra" style="color:black;"}}Chính sách đổi trả{{/link-to}}
						</div>

						<div class="vn-h6 text-w2 uppercase text-center g-ml-20 g-mr-20" style="display: inline-block;">
							{{#link-to "recommend" style="color:black;"}}Gửi đơn hàng riêng{{/link-to}}
						</div>

						<div class="vn-h6 text-w2 uppercase text-center g-ml-20 g-mr-20" style="display: inline-block;">
							{{#link-to "products" style="color:black;"}}Tất cả sản phẩm{{/link-to}}
						</div>


					</div>
				</div>
				<!-- End Footer Menu -->

				<!-- Facebook Instagram -->
				<div class="col-md-2 col-sm-2 col-xs-12">
					<div align="center">
						<span><a href="https://www.facebook.com/Shippyvn-961616627256263/"><img class="img-resonsive" style=" width: 40px;" src="assets/images/common/social/facebook.png"></a></span>
						<span><a href="https://www.instagram.com/shippyvn/"><img class="img-resonsive" style=" width: 40px;" src="assets/images/common/social/instagram.png"></a></span>
					</div>
				</div>
				<!-- End Facebook Instagram  -->
			</div>
		</div>
	</div>

	<div class="copyright">
		<div class="container">
			<p class="text-center">&copy; Copyright Shippy. All Rights Reserved.</p>
		</div>
	</div>
	<!--/copyright-->
</div>
<!--=== End Footer ===-->
