<!-- Facebook like -->
<section class="with-bg-facebook">
       <div class="container">
				<div class="row g-pt-80 g-pb-80 g-pl-10">
					<div class="col-md-7">
							<div class="g-mb-40">
                                 <div class="vn-super-1">Không bỏ lỡ sản phẩm mới <strong>mỗi ngày</strong></div>
							</div>
					</div>

					<div class="col-md-5 col-sm-12 col-xs-12">

                            <div class="row">
															<div class="g-pb-20"><a target="_blank" href="https://www.instagram.com/shippyvn/?ref=badge"><img width="220" src=" http://d2cxx1zdxve54p.cloudfront.net/media/instagram_shippy.png" alt="Instagram" /></a></div>
														</div>
												 <div class="row">
							 <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/Shippyvn-961616627256263/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=1705756496374115&amp;container_width=483&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FShippyvn-961616627256263%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=false&amp;small_header=false"><span style="vertical-align: bottom; width: 340px; height: 130px;"><iframe name="f1b3845c8" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:page Facebook Social Plugin" src="http://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=true&amp;app_id=1705756496374115&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D42%23cb%3Df2669f0448%26domain%3Dgeologist-jane-72773.bitballoon.com%26origin%3Dhttp%253A%252F%252Fgeologist-jane-72773.bitballoon.com%252Ff3097241f8%26relation%3Dparent.parent&amp;container_width=483&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FShippyvn-961616627256263%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=false&amp;small_header=false" style="border: none; visibility: visible; width: 340px; height: 130px;" class=""></iframe></span></div>

						</div>
					</div>
				</div>
			</div>
    </section>
