<!-- Header -->
	<nav class="one-page-header navbar navbar-default navbar-animate homeapp-header" style="margin-bottom:0px !important;"data-role="navigation">
		<div class="container">
			<div class="menu-container page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

					{{#link-to "index" class="navbar-brand"}}
					<img src="assets/images/brand.png" alt="Logo">
				{{/link-to}}
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse collapse in" aria-expanded="true">
				<div class="menu-container">
					<ul class="nav navbar-nav">
            <li class="page-scroll home"data-toggle="collapse" data-target=".navbar-collapse.in">
            {{#link-to "ho-tro-khach-hang"  }} Hỗ trợ {{/link-to}}
						</li>
                        <li class="page-scroll home" data-toggle="collapse" data-target=".navbar-collapse.in">
                        {{#link-to "recommend" }} Gửi đơn hàng riêng {{/link-to}}
						</li>
						<li class="page-scroll hidden-xs hidden-sm" data-toggle="collapse" data-target=".navbar-collapse.in">
           {{#link-to "products"  class="btn-u btn-u-lg btn-u-upper rounded-2x"}}Tất cả sản phẩm{{/link-to}}
						</li>

						<li class="page-scroll hidden-md hidden-lg" data-toggle="collapse" data-target=".navbar-collapse.in">
            {{#link-to "products" }}Tất cả sản phẩm{{/link-to}}
						</li>
					</ul>
				</div>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	<!-- End Header -->
