


<div class="container with-bg-white g-pb-70 g-pt-70">
	<div class="g-heading-v10 g-mb-30 text-center">
		<h2>Hàng chính hãng<br><strong>vận chuyển trực tiếp từ Mỹ</strong></h2>
		<div class="row row-centered">
			<div class="col-md-7 col-centered"> <span class="vn-h5 color-grey">Shippy làm việc với các nhà cung cấp uy tín và nhà sản xuất với thương hiệu nổi tiếng tại Mỹ để đem sản phẩm chính hãng đến cho người mua.
</span></div>
		</div>

	</div>
	<div class="owl-carousel-v5 owl-theme g-pt-30 margin-bottom-50">


		<div class="owl-slider-v3 .owl-carousel-v1 owl-carousel owl-theme" style="opacity: 1; display: block;">
			<div class="owl-wrapper-outer active" id="pane1">
				<div class="owl-wrapper" style="width: 3060px; left: 0px; display: block; transform: translate3d(-175px; , 0px, 0px); transition: all 0ms ease;">
					<div class="owl-item" style="width: 175px; ;">
						<div class="item">
							<img class="img-responsive" src="assets/images/img-temp/sephora.jpg" alt="">
						</div>
					</div>
					<div class="owl-item" style="width: 175px; ;">
						<div class="item">
							<img class="img-responsive" src="assets/images/img-temp/uniqlo.jpg" alt="">
						</div>
					</div>

					<div class="owl-item" style="width: 175px; ;">
						<div class="item">
							<img class="img-responsive" src="assets/images/img-temp/samsung.jpg" alt="">
						</div>
					</div>
					<div class="owl-item" style="width: 175px; ;">
						<div class="item">
							<img class="img-responsive" src="assets/images/img-temp/amazon.jpg" alt="">
						</div>
					</div>
					<div class="owl-item" style="width: 175px; ;">
						<div class="item">
							<img class="img-responsive" src="assets/images/img-temp/amazon.jpg" alt="">
						</div>
					</div>
					<div class="owl-item" style="width: 175px; ;">
						<div class="item">
							<img class="img-responsive" src="assets/images/img-temp/amazon.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>








			<div class="owl-controls owl-navigation clickable">
				<div class="owl-pagination customNavigation">
					<div class="owl-page active"><span class=""></span></div>
					<div class="owl-page"><span class=""></span></div>
				</div>
			</div>
		</div>
		<!--/navigation-->
</div>
