<div class="animated fadeInRight">

<div class="container g-pt-80 g-pb-90">
	<div class="row row-centered g-pt-80 g-pl-10 g-mb-30">
<div class="col-md-7 col-centered">
										 <div class="vn-super-1 g-mb-10">Cảm ơn bạn đã mua sắm tại Shippy.vn</div>
											 <div class="vn-h4">Shippy đã gửi xác nhận đặt hàng tới email của bạn. <br> Cập nhật thông tin sản phẩm mới từ Mỹ và cơ hội nhận coupon giảm giá tại</div>

</div>
		</div>
		<div class="row row-centered">
<div class="col-md-5 col-sm-12 col-xs-12 col-centered">
								<div class="row">
								<div class="ig-follow g-pb-20 g-pr-20" data-id="9d14e04530" data-handle="shippyvn" data-count="false" data-size="large" data-username="true"><div title="Follow @shippyvn on Instagram" class="IGF large"><div class="ig-background"><img class="ig-camera" src="//x.instagramfollowbutton.com/components/instagram/v2/img/ig-camera.png" height="16" width="16"><span class="ig-text">Follow @shippyvn</span></div></div></div>
								</div>
						 <div class="row">
	 <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/Shippyvn-961616627256263/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=1705756496374115&amp;container_width=488&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FShippyvn-961616627256263%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=false&amp;small_header=false"><span style="vertical-align: bottom; width: 340px; height: 130px;"><iframe name="f2f02ec394" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:page Facebook Social Plugin" src="http://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=true&amp;app_id=1705756496374115&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D42%23cb%3Dff4bf1534%26domain%3Dgeologist-jane-72773.bitballoon.com%26origin%3Dhttp%253A%252F%252Fgeologist-jane-72773.bitballoon.com%252Ff964b61b4%26relation%3Dparent.parent&amp;container_width=488&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FShippyvn-961616627256263%2F&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=false&amp;small_header=false" style="border: none; visibility: visible; width: 340px; height: 130px;" class=""></iframe></span></div>

</div>
</div>
 </div>
 </div>

</div>
