<!-- Main Categories Navigation -->
<section id="categories">
	<div class="container-fluid with-bg-facebook">
		<div class="row g-padding-40 row-centered">
			<div class="col-md-2 col-centered">
				{{#link-to "products" class="btn-u btn-u-slg btn-u-upper rounded-2x"}}Xem tất cả sản phẩm{{/link-to}}
			</div>
		</div>
	</div>

</section>
