<section id="intro">
		<div class="top-background" style="height: 500px;">
			<div class="container-fluid">
				<div class="row g-pt-60 g-pb-30 ">
					<div class="col-md-7 col-md-offset-1 col-sm-offset-1  col-sm-12 col-xs-12  promo-info-2">
						<div class="vn-super-1 uppercase">Ngần ngại về thủ tục khi  <br class="visible-xs"><strong>mua hàng từ Mỹ ?</strong></div>
                    </div>
                    </div>
               <div class="row">
                   <div class=" col-md-7 col-md-offset-1 col-sm-offset-1  col-sm-12 col-xs-12  promo-info-2">
						<span class="ssp vn-h3 text-w1">Dịch vụ trọn gói từ Shippy.<br> Không lo thuế, thủ tục hải quan và phụ phí.<br>

                       Kiểm tra<strong class="color-hot-green"> vị trí sản phẩm</strong> suốt quá trình vận chuyển.</span>
                        <div class="g-pt-30">
                        {{#link-to 'products' class="btn-u btn-u-lg btn-u-upper rounded-2x"}}Mua hàng ngay{{/link-to}}
                       </div>
                    </div>
				</div>

			</div>

        </div>
</section>
