{{#if stepOne}}
{{form-recommend store=this.store categories=model.categories generateQuote="setQuote"}}
{{/if}}


{{#if stepTwo}}


<h2 class="fs-title">Link san pham {{quote.product_link}}</h2>
<h3 class="fs-subtitle">Gia goc {{quote.original_price}}</h3> 
<h3 class="fs-subtitle"> Gia tu A den Z la {{quote.suggested_price}} </h3>

<input type="button" name="previous" class="previous action-button" value="Quay lại" />

<input type="button" {{action "getContactInfo"}} name="next" class="next action-button" value="Tiếp theo" />
{{/if}}


{{#if stepThree}}

<h1> Thong tin lien lac </h1>

{{input placeholder="Email" value=contact.email type="email"}}
{{input placeholder="First Name" value=contact.first_name type="text"}}
{{input placeholder="Last Name" value=contact.last_name type="text"}}
{{input placeholder="Address" value=contact.address type="text"}}

<input type="button" {{action "submitRecommend" }} name="next" class="next action-button" value="Tiếp theo" />
{{/if}}


{{#if lastStep}}
<h1> Thanks yo </h1>
{{/if}}
