<!-- Shipping Time -->
<section class="with-bg-facebook">
<div class="container">
		<div class="g-pt-80 g-pb-50">
			<div class="g-heading-v10 g-mb-30 text-center">
				<div class="vn-super-1 uppercase">Giao hàng tận nơi trong <br><strong>Không phát sinh thêm phí</strong></div>
			</div>
					<div class="row g-pt-30 g-pb-20 row-centered">
				 <div class="col-md-3 col-sm-6 col-xs-6">
							<img class="img-responsive" src="assets/images/common/shippy-van-chuyen-tai-my.png">
						 <div class="text-centered vn-h4 color-grey g-pb-30">Vận chuyển trong nước Mỹ</div>
					</div>
										 <div class="col-md-3 col-sm-6 col-xs-6">
							<img class="img-responsive" src="assets/images/common/shippy-van-chuyen-tu-my-ve-viet-nam.png">
						 <div class="text-centered vn-h4 color-grey g-pb-30">Sản phẩm được bay về Việt Nam</div>
					</div>
										<div class="col-md-3 col-sm-6 col-xs-6">
							<img class="img-responsive" src="assets/images/common/shippy-lam-thu-tuc-hai-quan.png">
						 <div class="text-centered vn-h4 color-grey g-pb-30">Thay bạn làm thủ tục hải quan</div>
					</div>
										<div class="col-md-3 col-sm-6 col-xs-6">
							<img class="img-responsive" src="assets/images/common/shippy-giao-hang-toi-ban.png">
						 <div class="text-centered vn-h4 color-grey g-pb-30">Giao hàng đến tận nơi</div>
					</div>


		</div>
	</div>
	</div>
</section>
	<!-- End Shipping Time -->
