<section class="with-bg-grey">
    <div class="container">
            <div class="g-pt-70 g-pb-30">
                <div class="row">
                    <div class="col-md-7">
                        <div class="why-ourapp-text">
                            <div class="g-heading-v10 g-mb-30">
                                <div class="vn-super-1 uppercase">Thanh toán tại Shippy <br class="hidden-xs hidden-sm"><strong>trọn gói từ A đến Z</strong></div>
                                <div class="vn-h4 color-grey">Shippy cam kết bạn không phải thanh toán thêm bất cứ chi phí nào khi bạn nhận hàng. Không thêm thuế, không phụ phí, không lo nghĩ. </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-1 col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
                        <div class="overflow-h">
                            <img class="img-responsive animated slideInUp wow" src="assets/images/common/shippy-gia-tron-goi-tu-a-den-z.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>
