<div class="row g-pt-10 g-pb-20">
  <div class="col-md-5 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 g-pt-40 g-pb-40" style="text-align: left;">
    <div class="row g-pb-10">
      <div class="vn-super-1 text-w2">Cần tìm một sản phẩm ưa thích?</div>
    </div>


    <div class="row">

      <span class="ssp vn-h3 text-w1">Shippy luôn muốn đem đến cho bạn những sản phẩm phù hợp.<br>
        Hãy chia sẻ với Shippy trong <strong class="color-hot-green">đơn hàng riêng</strong>.<br><br>
        Giá vẫn trọn gói từ A đến Z. Shippy sẽ bắt đầu tìm hiểu về món hàng bạn yêu cầu: <br>
        - Giá trọn gói từ Mỹ về Việt Nam sẽ được báo qua email <br>
        - Bạn không cần phải thanh toán ngay khi gửi đơn hàng riêng<br>

      </span>

    </div>

  </div>


  <div id="form" class="col-md-5 col-sm-10 form-margin-1 col-xs-10" >
    <form id="msform" class="animated slideInUp wow ">
      <ul id="progressbar">
        <li class="active">Sản phẩm</li>
        <li>Link gốc</li>
        <li>Liên lạc</li>

      </ul>

      <fieldset>


        <h2 class="fs-title">Link sản phẩm gốc (nếu có)</h2>
        <h3 class="fs-subtitle">Từ Amazon hay trang mua sắm khác</h3> 
        {{input type="text" value=form.product_link placeholder="VD: http://www.amazon.com/..."}}

        {{input type="number" value=form.original_price type="text" placeholder="Original price of the product"}}

        {{#x-select class="select-box" value=form.category_id}}

        {{#each categories as |v|}}
        {{#x-option value=v}}{{v.name}}{{/x-option}}
        {{/each}}
        {{/x-select}}
        <input type="button" {{action "getQuote" form}}name="next" class="next action-button" value="Xem giá ngay" />
      </fieldset>
    </form>
  </div>
  </div>





