
<div id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery shippy-color pace-done">

		{{partial "partials/navbar"}}

		{{outlet}}
		{{partial "partials/footer"}}



</div>
