{{partial 'partials/khong-bo-lo-san-pham'}}
<!-- Refund -->
<section class="with-bg-white">
	 <div class="container g-padding-50">
			 <div class="row row-centered">
					 <div class="col-md-10 col-sm-12 col-xs-12 col-centered">
							 <div class="vn-h5" style="text-align: left;">Shippy cam kết chọn ra những sản phẩm tiện lợi và uy tín nhất, được ưa chuộng nhất để đem đến cho người tiêu dùng tại Việt Nam. Tuy nhiên, Shippy vẫn hiểu rằng sai sót của nhà sản xuất hay sơ xuất trong quá trình vận chuyển là không thể hoàn toàn tránh được.

									 Do đó, khi những trường hợp đáng tiếc xảy ra đối với đơn hàng, Shippy có những chính sách đổi trả và hoàn tiền như sau để bạn không phải lo lắng:</div>
						<div class="vn-h5 g-pt-20 text-w2" style="text-align: left;">Chính sách hoàn tiền do lỗi trong quá trình vận chuyển</div>
							 <div class="vn-h5" style="text-align: left;">Sản phẩm bị hư hỏng, trầy xước do quá trình vận chuyển. Khách hàng thông báo với Shippy trong vòng 48h tiếng kể từ lúc nhận được hàng. Shippy sẽ hoàn trả 100% chi phí sản phẩm và tặng quý khách coupon 100,000đ để sử dụng khi mua sắm lần sau.<br></div>
								<div class="vn-h5 g-pt-20 text-w2" style="text-align: left;">Chính sách hoàn tiền do lỗi của nhà sản xuất</div>
							 <div class="vn-h5" style="text-align: left;">Trong vòng 7 ngày từ khi nhận được hàng: hoàn trả 100% chi phí sản phẩm.<br>
							 Sau hơn 7 ngày từ khi nhận được hàng: khách hàng vui lòng thực hiện theo chính sách bảo hành và sửa chữa tại Mỹ sau đây.
									 <br>
							 </div>

							 <div class="vn-h5 g-pt-20 text-w2" style="text-align: left;">Chính sách bảo hành và sửa chữa</div>
							 <div class="vn-h5" style="text-align: left;">Do tính chất các sản phẩm của Shippy được vận chuyển trực tiếp từ Mỹ, việc bảo hành sửa chữa cũng sẽ được thực hiện tại Mỹ theo quy định của nhà sản xuất.<br><br>

Nếu trong quá trình sử dụng, quý khánh muốn trả phí để sửa chữa và bảo hành tại Mỹ thì Shippy sẽ tìm phương thức vận chuyển tiết kiệm nhất và đại diện quý khách để làm thủ tục tại Mỹ.<br><br>

Quy định bảo hành tại Mỹ của mỗi sản phẩm sẽ khác nhau, ngay sau khi nhận được hàng, quý khách nên xem tờ thông tin trong sản phẩm hoặc tại website của hãng tại Mỹ để biết rõ hơn.

							 </div>

								<div class="vn-h5 g-pt-20 text-w2" style="text-align: left;">Các bước tiền hành hoàn tiền/sửa chữa</div>
							 <div class="vn-h5" style="text-align: left;">Liên hệ với Shippy thông qua trang web hỗ trợ khách hàng <a href="ho-tro-khach-hang">shippy.vn/ho-tro-khach-hang</a> hoặc email <a href="mailto:shippynghe@shippy.vn">shippynghe@shippy.vn</a>
							 </div>

					 </div>

			 </div>

</div>

</section>
