<!-- Customer Support -->
<!-- Customer Support -->
<section class="with-bg-dark">
<div class="container g-pt-90">
		<div class="row">
			<div class="col-md-7">
				<div class="why-ourapp-text">
					<div class="g-heading-v10 g-mb-60">
						<div class="vn-super-1 color-white"> Sẵn sàng hỗ trợ trực tuyến</div>
						<div class="vn-h4 color-white">Click nút ở góc dưới bên phải để chat ngay với Shippy.</div>
					</div>
				</div>

														<div>
																<div class="vn-h5  color-white g-mb-10">Hoặc bạn có thể xem những link hữu ích sau:</div>
																{{#link-to 've-shippy'  class="color-white vn-h5 text-w2"}}Giới thiệu về Shippy{{/link-to}} <br/>
																{{#link-to 'chinh-sach-doi-tra' class="color-white vn-h5 text-w2"}}Chính sách đổi trả{{/link-to}} <br/>
																	{{#link-to 'recommend' class="color-white vn-h5 text-w2"}}Gửi đơn hàng cho sản phẩm của riêng bạn{{/link-to}}
														</div>
													</div>

			<div class="col-md-4 col-md-offset-0 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10">
				<div class="why-ourapp-img overflow-h">
					<img class="img-responsive animated slideInUp wow" src="assets/images/common/shippy-ho-tro-truc-tuyen.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Customer Support -->
 <!-- End Customer Support -->

<!-- Facebook Instagram like follow -->
 <section class="with-bg-facebook">
		 <div class="container g-pt-50">
			<div class="row g-pb-80 g-pl-10">
				<div class="col-md-7">
						<div class="g-mb-40">
															 <div class="vn-super-1">Không bỏ lỡ sản phẩm mới <strong>mỗi ngày</strong></div>
						</div>
				</div>

				<div class="col-md-5 col-sm-12 col-xs-12">

													<div class="row">
													<div class="ig-follow g-pb-20 g-pr-20" data-id="9d14e04530" data-handle="shippyvn" data-count="false" data-size="large" data-username="true"></div>
													</div>
											 <div class="row">
						 <div class="fb-page" data-href="https://www.facebook.com/Shippyvn-961616627256263/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"></div>

					</div>
				</div>
			</div>
		</div>
	</section>
