<!-- Pitch (JUMBOTRON)-->

{{partial 'partials/home/pitch'}}

{{partial 'partials/home/shipping-cost'}}

{{partial 'partials/home/quote'}}
<!-- Shipping Cost -->
{{partial 'partials/home/shipping-time'}}

<!-- Main Categories - Đồ cho mẹ và bé - Sách - Đồ công nghệ -->
{{partial 'partials/home/main-categories'}}

{{partial 'partials/customer-service'}}


<!-- Facebook like -->
{{partial 'partials/khong-bo-lo-san-pham'}}
