<!-- Promo section -->

<!-- Buy Now -->
<div id="main">

<section class=" with-bg-white">
	<div class="container">
		<div class="features">
			<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">

					{{product-detail imgs=model.img.carousel_imgs}}
				</div>


				<div id="main-form" class="col-md-offset-1 col-md-6 col-sm-12 col-xs-11">

					<div class="tab-content">

							<div class="row">
								<div id="ti" class="ssp vn-super-1 text-w2" style="margin-left:2%;">{{model.name}}</div>


							</div>

						<div class="tab-pane fade" id="page2">
							<div class="row">

							{{partial 'partials/product/product-buy-now'}}
						</div>

					</div>


					<div class="tab-pane fade in active" id="page1">

					<div class="row">

					<div class="col-md-12 col-sm-12 col-xs-12">

            <span class="vn-h4 color-grey">{{model.short_description}}</span>
					</div>


					</div>
					<div class="row">

					</div>
					<div class="row  g-pt-50 ">

						<div class="col-md-8 col-sm-10 col-xs-10">


							<span class="vn-h4 color-grey">Sản phẩm của </span>
							<span class="vn-h4 color-grey text-w2"><a target="_blank"  href="{{model.brand_link}}">{{model.producer}}</a></span>
							<br>
							<span class="vn-h4 text-w2">
								<p>
									<a target="_blank" href="{{model.original_link}}">Xem sản phẩm gốc</a>
								</p>

							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<span class="vn-h4 color-grey g-pr-10">Giá Shippy trọn gói</span>
							<span class="vn-h4 text-w2 color-hot-green">{{model.total_price}}đ</span>
						</div>

					</div>

					<div class="row">
						<div class="col-md-12">

							<span class="vn-h4 color-grey">Bạn đã tiết kiệm được</span>
							<span class="vn-h4 color-orangered text-w2">{{model.saving}}đ</span>
							<span class="vn-h4 color-grey">so với khi chuyển phát nhanh từ Mỹ </span>
							<span class="vn-h4 color-grey"><a target="_blank" href="tiet-kiem">(xem thêm)</a></span>
						</div>
					</div>

					<div class="row g-pt-20">
						<div class="col-md-8 col-sm-10 col-xs-12 g-pt-10">
							<div class="color-grey vn-h4 text-w2">Thế mình có phải trả thuế nữa không?</div>
							<div class="color-grey vn-h4">{{model.tax_info}}
							</div>

						</div>
						<div class="col-md-4 col-offset-md-0 col-sm-4 col-sm-offset-0 col-xs-offset-2 col-xs-8">
							<div class="overflow-h">
								<img class="img-responsive" src="assets/images/common/shippy-gia-tron-goi-tu-a-den-z.png" alt="">
							</div>
						</div>

					</div>





					<div class="row g-pt-20">
						<div class="col-md-10">
							<span class="vn-h4 text-w1 color-grey">Nhận đơn hàng cho đến</span>
							<span class="vn-h4 color-orangered text-w2">{{model.expire_date}}</span>
							<span class="vn-h4 color-grey">(còn {{model.days_left}} ngày)</span>
						</div>


					</div>
					<div class="row g-pt-10">
						<div class="col-md-12">
							<button type="button" {{action "scrollBack"}} id="order-button" data-toggle="tab" href="#page2" class="btn-u rounded text-w2">Đặt Hàng Trước</button>
							<br class="visible-xs">
							<br class="visible-xs">
							<span class="g-ml-0 color-grey vn-h4">Bạn không phải thanh toán ngay khi đặt hàng trước.</span>
						</div>
					</div>



					<div class="row g-pt-40">
						<div class="col-md-6">
							<div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true">
							</div>
							<span class="fb-send" data-layout="button_count"></span>
						</div>
					</div>
				</div>




		</div>
	</div>
	</div>
</div>
</div>
</section>
</div>

{{partial "partials/product/product-main-feature" this}}
{{product-carousel product=this}}
{{partial 'partials/home/shipping-cost'}}
<!-- Shipping Time -->
{{partial 'partials/home/shipping-time'}}



<!-- USA Brands -->
{{supplier-list this}}
<!-- End Authentic Products -->


<!-- Customer Support -->
{{partial 'partials/customer-service'}}
{{partial 'partials/khong-bo-lo-san-pham'}}
<!-- Suggested Products -->
<section class="with-bg-grey">
	<div class="container">
		<div class="whats-new">
			<div class="g-heading-v10 g-mb-20 g-mt-50 text-center">
				<div class="vn-super-1">Bạn có thể thích sản phẩm khác</div>
			</div>

			<!-- Owl Carousel v4 tab content-->



			{{suggestion-list suggests=suggestions }}
		<!-- {{partial 'partials/product/suggestion-list'}} -->

			<!-- End Owl Carousel v4 -->
			<div class="row row-centered  g-mt-30 g-mb-80">
          {{#link-to 'products' class="btn-u btn-u-slg btn-u-upper rounded-2x"}}Xem tất cả sản phẩm{{/link-to}}
      </div>
		</div>
	</div>
</section>
