
<section>
<div class="interactive-slider-v2 with-bg-facebook" style="padding-top: 50px;">
  {{outlet}}
  <!--
  <div id="main">
    {{form-recommend store=this.store categories=model.categories}}
  </div>
  <div id="success">
    {{partial 'partials/thank-you'}}
  </div>
  -->
</div>
</section>
  <!-- End Promo Block -->

  {{partial "partials/customer-service"}}
  {{partial "partials/khong-bo-lo-san-pham"}}

  <!-- End Customer Support -->
