<!-- Thank you và follow -->

   <section class="with-bg-facebook">
       <div class="container g-pt-80 g-pb-90">
				<div class="row row-centered g-pt-80 g-pl-10 g-mb-30">
					<div class="col-md-7 col-centered">
                                 <div class="vn-super-1 g-mb-10">Cảm ơn bạn đã mua sắm tại Shippy.vn</div>
                                   <div class="vn-h4">Shippy đã gửi xác nhận đặt hàng tới email của bạn. <br> Cập nhật thông tin sản phẩm mới từ Mỹ và cơ hội nhận coupon giảm giá tại</div>

					</div>
                </div>
                <div class="row row-centered">
					<div class="col-md-5 col-sm-12 col-xs-12 col-centered">
                            <div class="row">

															<div class="g-pb-20"><a target="_blank" href="https://www.instagram.com/shippyvn/?ref=badge"><img width="220" src=" http://d2cxx1zdxve54p.cloudfront.net/media/instagram_shippy.png" alt="Instagram" /></a></div>
                            </div>
                         <div class="row">
							 <div class="fb-page" data-href="https://www.facebook.com/Shippyvn-961616627256263/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"></div>

						</div>
					</div>
               </div>
				</div>
    </section>

		{{partial 'partials/customer-service'}}
