{{partial 'partials/khong-bo-lo-san-pham'}}

<section class="with-bg-white">
	<div class="container g-padding-50">
		<div class="row row-centered">
			<div class="col-md-10 col-sm-12 col-xs-12 col-centered">
				<div class="vn-h5" style="text-align: left;">Thông thường, mua hàng từ một trang web tại Mỹ và yêu cầu chuyển về Việt Nam thì giá tiền bạn phải thanh toán thường rất cao vì phải bao gồm nhiều chi phí khác nhau:</div>
			</div>
		</div>

		<div class="row row-centered">
			<div class="col-md-10 col-sm-12 col-xs-12 col-centered">
				<div class="vn-h5 g-pt-20" style="text-align: left;">
					1. Giá niêm yết trên trang web mua sắm
					<br> 2. Thuế nhập khẩu vào Việt Nam có thể lên tới 30% tuỳ từng mặt hàng
					<br> 3. Thuế GTGT của Việt Nam: 10% tổng giá trị đơn hàng và vận chuyển
					<br> 4. Chi phí vận chuyển từ Mỹ về Việt Nam: rẻ nhất dao động từ $25 (560,000 VNĐ) tới $35 (784,000 VNĐ) cho một món hàng với cân nặng khoảng 0.5 kg
				</div>
			</div>
		</div>
		<div class="row row-centered g-pt-50">
			<div class="vn-h4 text-w2">Cùng thử một ví dụ là cuốn sách The Tipping Point nhé </div>
			<div class="col-md-offset-1 col-md-5 col-sm-12 col-xs-12 col-centered" style="text-align: left;">
				<div class="vn-h5 text-w2 g-pt-20">
					Vận chuyển qua đường chuyển phát nhanh
				</div>
				<div class="vn-h5 g-pt-20">
					Giá niêm yết trên trang web: $11.63
					<br> Thuế GTGT của Việt Nam: $1.163
					<br> Chi phí vận chuyển từ Mỹ về Việt Nam: $25
					<br>
					<strong>Tổng cộng:</strong> 846,000 VNĐ
				</div>
			</div>
			<div class="col-md-5 col-sm-12 col-xs-12 col-centered" style="text-align: left;">
				<div class="vn-h5 text-w2 g-pt-20">
					Vận chuyển trọn gói từ A đến Z tại Shippy.vn
				</div>

				<div class="vn-h5 g-pt-20">
					Giá niêm yết tại trang web Shippy.vn là giá trọn gói đảm bảo vận chuyển sản phẩm bạn mua từ Mỹ tới tận tay bạn tại Việt Nam mà không tốn thêm phụ phí nào cả.
					<br>
					<strong>Giá từ A đến Z:</strong> 509,000 VNĐ
				</div>
			</div>
		</div>

		<div class="row row-centered g-pt-50">
			<div class="col-md-10 col-sm-12 col-xs-12 col-centered">
				<div class="vn-h5" style="text-align: left;">

					<div>Ngoài ra với Shippy, bạn có thể kiểm tra tình trạng đơn hàng và vị trí chính xác của sản phẩm bạn mua trong suốt quá trình vận chuyển</div>
					<div class="row g-pt-30 row-centered">
						<div class="col-md-3 col-sm-6 col-xs-6">
							<img class="img-responsive" src="http://bitballoon.scdn4.secure.raxcdn.com/b1e4c628650008ef6736aede0dcd2b0a1df2a95d/79e82/assets/img-temp/common/shippy-van-chuyen-tai-my.png">
							<div class="text-centered vn-h5 color-grey g-pb-30">Vận chuyển trong nước Mỹ</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6">
							<img class="img-responsive" src="http://bitballoon.scdn4.secure.raxcdn.com/c58c2e02ad075c17c76d0aed9e8e764433ff6358/e08b9/assets/img-temp/common/shippy-van-chuyen-tu-my-ve-viet-nam.png">
							<div class="text-centered vn-h5 color-grey g-pb-30">Sản phẩm được bay về Việt Nam</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6">
							<img class="img-responsive" src="http://bitballoon.scdn4.secure.raxcdn.com/ae9e2bcdc8ef0b248841259ab4dd076d6a6c7abd/d88d5/assets/img-temp/common/shippy-lam-thu-tuc-hai-quan.png">
							<div class="text-centered vn-h5 color-grey g-pb-30">Thay bạn làm thủ tục hải quan</div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6">
							<img class="img-responsive" src="http://bitballoon.scdn4.secure.raxcdn.com/da72d9a0a792c823f80dd3ec89d5ac8c419dc339/2d97c/assets/img-temp/common/shippy-giao-hang-toi-ban.png">
							<div class="text-centered vn-h5 color-grey g-pb-30">Giao hàng đến tận nơi</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</section>
