<!-- Facebook like -->
	<section class="promo-section interactive-slider-v2 with-bg-facebook g-padding-50"> <div class="container">
		 <div class="">
			 <div class="row g-padding-50 g-pt-80">
				 <div class="col-md-7">
					 <div class="why-ourapp-text">
						 <div class="g-heading-v10 g-mb-65">
																<div class="vn-super-1">Không bỏ lỡ sản phẩm mới <strong>mỗi ngày</strong></div>
						 </div>
					 </div>
				 </div>

				 <div class="col-md-5">
					 <div class="why-ourapp-img overflow-h">
													 <span class="ig-follow g-pb-20" data-id="9d14e04530" data-handle="shippyvn" data-count="false" data-size="large" data-username="true"></span>
							<div class="fb-page" data-href="https://www.facebook.com/Shippyvn-961616627256263/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"></div>

					 </div>
				 </div>
			 </div>
		 </div>
	 </div>
	 </section>

 <!-- About Us -->
<section class="with-bg-white">
	 <div class="container g-padding-50">
			 <div class="row row-centered">
					 <div class="col-md-10 col-sm-12 col-xs-12 col-centered">
							 <div class="vn-h5" style="text-align: left;">Shippy được thành lập khi nhận thấy việc mua sắm hàng hóa từ nước ngoài về Việt Nam còn gặp phải nhiều vấn đề về mặt niềm tin, chất lượng dịch vụ, thuế, và thủ tục hải quan phức tạp.</div></div>
			 </div>
			 <div class="row g-pt-30 row-centered">
					<div class="col-md-3 col-sm-6 col-xs-6 col-centered">
							<img class="img-responsive" src="assets/images/brand.png">
			 </div>
					 </div>


			 <div class="row row-centered">
					 <div class="col-md-10 col-sm-12 col-xs-12 col-centered">
						 <div class="vn-h5 g-pt-20" style="text-align: left;">Với tâm huyết đem lại một trải nghiệm an tâm và dễ dàng nhất cho người tiêu dùng khi mua sắm hàng hóa từ nước ngoài, Shippy hợp tác với các nhà cung cấp và sản xuất uy tín từ Mỹ để mang những mặt hàng chính hãng, được tin dùng và có nhiều lợi ích đến với người tiêu dùng Việt. Với giá trọn gói từ A đến Z của Shippy, bạn sẽ không phải lo nghĩ về thuế, thủ tục hải quan hay phí dịch vụ kèm theo khi mua sắm. Món hàng ưa thích của bạn sẽ được bay thẳng về Việt Nam và vận chuyển đến tận nhà chỉ sau 10 ngày làm việc.</div>
			 </div>
			 </div>



 <!-- Shipping Time -->
	 <div class="row g-pt-30 row-centered">
					<div class="col-md-3 col-sm-6 col-xs-6">
							 <img class="img-responsive" src="assets/images/common/shippy-van-chuyen-tai-my.png">
							<div class="text-centered vn-h5 color-grey g-pb-30">Vận chuyển trong nước Mỹ</div>
					 </div>
											<div class="col-md-3 col-sm-6 col-xs-6">
							 <img class="img-responsive" src="assets/images/common/shippy-van-chuyen-tu-my-ve-viet-nam.png">
							<div class="text-centered vn-h5 color-grey g-pb-30">Sản phẩm được bay về Việt Nam</div>
					 </div>
										 <div class="col-md-3 col-sm-6 col-xs-6">
							 <img class="img-responsive" src="assets/images/common/shippy-lam-thu-tuc-hai-quan.png">
							<div class="text-centered vn-h5 color-grey g-pb-30">Thay bạn làm thủ tục hải quan</div>
					 </div>
										 <div class="col-md-3 col-sm-6 col-xs-6">
							 <img class="img-responsive" src="assets/images/common/shippy-giao-hang-toi-ban.png">
							<div class="text-centered vn-h5 color-grey g-pb-30">Giao hàng đến tận nơi</div>
					 </div>


		 </div>
	 <!-- End Shipping Time -->
	 	<div class="row row-centered">
					 <div class="col-md-10 col-sm-12 col-xs-12 col-centered">

							 <div class="vn-h5 g-pt-20" style="text-align: left;">
									 Liên hệ với Shippy qua trang hỗ trợ khách hàng <a href="/ho-tro-khach-hang">shippy.vn/ho-tro-khach-hang</a> và email <a href="mailto:shippynghe@shippy.vn">shippynghe@shippy.vn</a> để nhận được hồi âm nhanh nhất. </div>
									 </div>
			 </div>
		 </div>
</section>

		<!-- Customer Support -->
{{partial 'partials/customer-service'}}
	<!-- End Customer Support -->
